# Jungi Kishan Gopalbhai [216270307014]

# Practical 7

# 1.Write a Pandas program to create a dataframe from a dictionary and display it

In [1]:
# (7.1) Write a Pandas program to create a dataframe from a dictionary and display it

# KISHAN JUNGI
# 216270307014 

import numpy as np
import pandas as pd

a={'name':["kishan","hiten","payal"], 'age':[21,19,24]}

b=pd.DataFrame(a)

print(b)

b

     name  age
0  kishan   21
1   hiten   19
2   payal   24

     name  age
0  kishan   21
1   hiten   19
2   payal   24

# 2.Write a Pandas program to sort the DataFrame first by 'name' in ascending order

In [2]:
# (7.2) Write a Pandas program to sort the DataFrame first by 'name' in ascending order

# KISHAN JUNGI
# 216270307014 

a={'name':["kishan","hiten","payal"], 'age':[21,19,24]}

b=pd.DataFrame(a)

df=b.sort_values(by="name",ascending=True)
print(df)
df

     name  age
1   hiten   19
0  kishan   21
2   payal   24

     name  age
1   hiten   19
0  kishan   21
2   payal   24

# 3.Write a Pandas pr0ogram to delete the one specific column from the DataFrame

In [3]:
# (7.3) Write a Pandas pr0ogram to delete the one specific column from the DataFrame


# KISHAN JUNGI
# 216270307014 

a={'name':["kishan","hiten","payal"], 'age':[21,19,24]}

b=pd.DataFrame(a)

df=b.drop("age",axis=1)

df
print(df)

     name
0  kishan
1   hiten
2   payal

# 4.Write a Pandas program to write a DataFrame to CSV file using tab separator

In [4]:
# (7.4) Write a Pandas program to write a DataFrame to CSV file using tab separator

# KISHAN JUNGI
# 216270307014 

import pandas as pd

# Create a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 22, 28],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}

df = pd.DataFrame(data)

# Write the DataFrame to a CSV file with tab separator
df.to_csv('output_file.csv', sep='\t', index=False)

print("DataFrame saved to 'output_file.csv'")

DataFrame saved to 'output_file.csv'